Repository kaihodev/hikidashi: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, yarn test

.lintstagedrc.json:

{
	"*.ts": "eslint --fix",
	"tests/**/*.ts": "yarn test"
}

refactor(bench): update ordering to display improved hikidashi results first
  .lintstagedrc.json
  src/unsafe/math/add.ts
  src/unsafe/math/subtract.ts
  tests/benches/add.ts
  tests/benches/divide.ts
  tests/benches/map.ts
  tests/benches/multiply.ts
  tests/benches/subtract.ts
  tests/util.ts
Due: eslint --fix, yarn test

docs: norwegian translations (#35)
  docs/docusaurus.config.js
  docs/i18n/no/code.json
  docs/i18n/no/docusaurus-plugin-content-docs/current.json
  docs/i18n/no/docusaurus-theme-classic/footer.json
  docs/i18n/no/docusaurus-theme-classic/navbar.json
Due: none

feat(website): add cname
  CNAME
Due: none

refactor: caps (un)safe.md
  SAFE.md
  UNSAFE.md
  docs/docusaurus.config.js
Due: none

fix: add (UN)SAFE.md to .npmignore
  .npmignore
Due: none

refactor: caps (un)safe.md (#36)
  .npmignore
  SAFE.md
  UNSAFE.md
  docs/docusaurus.config.js
Due: none

docs: add cname
  docs/static/CNAME
Due: none

refactor(docs): change urls to js.org
  docs/docusaurus.config.js
Due: none

fix(docs): change kaihodev to hikidashi
  docs/docusaurus.config.js
Due: none

docs: add cname (#37)
  docs/docusaurus.config.js
  docs/static/CNAME
Due: none

feat(unsafe): create partition
  src/unsafe/array/index.ts
  src/unsafe/array/partition.ts
Due: eslint --fix

refactor: migrate repository-wide builds to tateru
  .taterurc
  esbuild.config.js
  esbuild.test.config.js
  package.json
  yarn.lock
Due: none

chore: upgrade tateru version
  package.json
  yarn.lock
Due: none

chore: upgrade node version
  .github/workflows/ci-commits.yml
  .github/workflows/ci-test.yml
Due: none

chore: rebuild docs
  .github/workflows/cd-docs.yml
Due: none

feat: add isArithmeticSequence
  src/safe/array/index.ts
  src/safe/array/isArithmeticSequence.ts
  src/unsafe/array/index.ts
  src/unsafe/array/isArithmeticSequence.ts
Due: eslint --fix

fix: update buildtools and deps
  .taterurc
  package.json
  yarn.lock
Due: none

fix: build benches alongside tests
  package.json
Due: none

ci(config): migrate ci to yarn.lock
  .github/workflows/ci-test.yml
Due: none

ci(config): force tateru re-download in test
  .github/workflows/ci-test.yml
  .taterurc
Due: none

refactor: move and improved benchmarks and unit tests
  .eslintrc.cjs
  .lintstagedrc.json
  .taterurc
  benchmarks/array/map.ts
  benchmarks/math/add.ts
  benchmarks/math/divide.ts
  benchmarks/math/multiply.ts
  benchmarks/math/subtract.ts
  benchmarks/tsconfig.json
  package.json
  run-all-benchmarks.sh
  tests/safe/map/map.test.ts
  tests/safe/math/add.test.ts
  tests/safe/math/divide.test.ts
  tests/safe/math/modulo.test.ts
  tests/safe/math/multiply.test.ts
  tests/safe/math/remainder.test.ts
  tests/safe/math/subtract.test.ts
  tests/safe/util/identity.test.ts
  tests/safe/util/noop.test.ts
  tests/unsafe/map/map.test.ts
  tests/unsafe/math/add.test.ts
  tests/unsafe/math/divide.test.ts
  tests/unsafe/math/modulo.test.ts
  tests/unsafe/math/multiply.test.ts
  tests/unsafe/math/remainder.test.ts
  tests/unsafe/math/subtract.test.ts
  tests/unsafe/util/identity.test.ts
  tests/unsafe/util/noop.test.ts
  tests/util.ts
  yarn.lock
Due: eslint --fix, yarn test

refactor: properly name test categories
  tests/safe/array/map.test.ts
  tests/unsafe/array/map.test.ts
Due: eslint --fix, yarn test

feat(unsafe): add indexOf, includes
  src/unsafe/array/includes.ts
  src/unsafe/array/index.ts
  src/unsafe/array/indexOf.ts
Due: eslint --fix

feat(unsafe): export left/right variants of iterative functions
  src/unsafe/array/index.ts
Due: eslint --fix

fix: update tateru build
  .taterurc
  package.json
  yarn.lock
Due: none
