Repository kaihodev/hikidashi: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, yarn test

.lintstagedrc.json:

{
	"*.ts": "eslint --fix",
	"tests/**/*.ts": "yarn test"
}

feat: husky
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  .npmignore
  package.json
  yarn.lock
Due: none

feat: issue templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
Due: none

exports 2
  .npmignore
  esbuild.config.js
  package.json
  yarn.lock
Due: none

move src in npmignore
  .npmignore
Due: none

husky
  .gitignore
  .npmignore
  package.json
  yarn.lock
Due: none

Update directory structure
  .eslintrc.cjs
  esbuild.test.config.js
  jest.config.ts
  run-all-tests.sh
  tests/benches/add.ts
  tests/benches/divide.ts
  tests/benches/multiply.ts
  tests/benches/subtract.ts
  tests/unit/safe/math/add.test.ts
  tests/unit/safe/math/divide.test.ts
  tests/unit/safe/math/modulo.test.ts
  tests/unit/safe/math/multiply.test.ts
  tests/unit/safe/math/remainder.test.ts
  tests/unit/safe/math/subtract.test.ts
  tests/unit/unsafe/math/add.test.ts
  tests/unit/unsafe/math/divide.test.ts
  tests/unit/unsafe/math/modulo.test.ts
  tests/unit/unsafe/math/multiply.test.ts
  tests/unit/unsafe/math/remainder.test.ts
  tests/unit/unsafe/math/subtract.test.ts
  tests/util.ts
  tsconfig.json
Due: eslint --fix, yarn test

Add util/identity
  src/safe.ts
  src/safe/util/identity.ts
  src/safe/util/index.ts
  src/tests/benches/add.ts
  src/tests/benches/divide.ts
  src/tests/benches/multiply.ts
  src/tests/benches/subtract.ts
  src/tests/src/safe/math/add.test.ts
  src/tests/src/safe/math/divide.test.ts
  src/tests/src/safe/math/modulo.test.ts
  src/tests/src/safe/math/multiply.test.ts
  src/tests/src/safe/math/remainder.test.ts
  src/tests/src/safe/math/subtract.test.ts
  src/tests/src/unsafe/math/add.test.ts
  src/tests/src/unsafe/math/divide.test.ts
  src/tests/src/unsafe/math/modulo.test.ts
  src/tests/src/unsafe/math/multiply.test.ts
  src/tests/src/unsafe/math/remainder.test.ts
  src/tests/src/unsafe/math/subtract.test.ts
  src/tests/util.ts
  src/unsafe.ts
  src/unsafe/util/identity.ts
  src/unsafe/util/index.ts
Due: eslint --fix

rename & add bench to scripts
  package.json
  run-all-benchmarks.sh
Due: none

Update benchmarks with direct import
  tests/benches/add.ts
  tests/benches/divide.ts
  tests/benches/multiply.ts
  tests/benches/subtract.ts
  tsconfig.json
Due: eslint --fix, yarn test

Add noop
  src/safe/util/index.ts
  src/safe/util/noop.ts
  src/unsafe/util/index.ts
  src/unsafe/util/noop.ts
Due: eslint --fix

Fix noop doc
  src/safe/util/noop.ts
Due: eslint --fix

Add map
  src/safe/array/index.ts
  src/safe/array/map.ts
  src/shared/generics.d.ts
  src/unsafe/array/index.ts
  src/unsafe/array/map.ts
Due: eslint --fix

Export proper maps
  src/safe.ts
  src/safe/array/map.ts
  src/unsafe.ts
Due: eslint --fix

Update map
  src/safe/array/map.ts
  src/shared/generics.d.ts
  src/unsafe/array/map.ts
Due: eslint --fix

map bench
  tests/benches/map.ts
Due: eslint --fix, yarn test

Add safe map remarks
  src/safe/array/map.ts
Due: eslint --fix

tests for map and others
  tests/unit/safe/map/map.test.ts
  tests/unit/safe/util/identity.test.ts
  tests/unit/safe/util/noop.test.ts
  tests/unit/unsafe/map/map.test.ts
  tests/unit/unsafe/util/identity.test.ts
  tests/unit/unsafe/util/noop.test.ts
Due: eslint --fix, yarn test

fix include paths
  tsconfig.json
Due: none

fix noop type
  src/safe/util/noop.ts
Due: eslint --fix

Update noop.ts
  src/safe/util/noop.ts
Due: eslint --fix

Improve typings
  src/safe/array/map.ts
  src/safe/util/noop.ts
  src/shared/generics.d.ts
Due: eslint --fix

Remove less-used thisArg from unsafe map
  src/unsafe/array/map.ts
Due: eslint --fix

Add in-place map variants and modify map algorithms
  src/safe/array/index.ts
  src/safe/array/mapip.ts
  src/unsafe/array/index.ts
  src/unsafe/array/map.ts
  src/unsafe/array/mapip.ts
  tests/benches/map.ts
Due: eslint --fix, yarn test

feat: husky
  .lintstagedrc.json
Due: none

feat: husky
  .husky/pre-commit
Due: none

feat: husky
  .npmignore
Due: none

docs cd
  docs/docs/installation.md
  docs/docs/safe/functions/add.md
  docs/docs/safe/functions/divide.md
  docs/docs/safe/functions/identity.md
  docs/docs/safe/functions/map.md
  docs/docs/safe/functions/mapip.md
  docs/docs/safe/functions/modulo.md
  docs/docs/safe/functions/multiply.md
  docs/docs/safe/functions/noop.md
  docs/docs/safe/functions/remainder.md
  docs/docs/safe/functions/subtract.md
  docs/docs/safe/modules.md
  docs/docs/unsafe/functions/add.md
  docs/docs/unsafe/functions/divide.md
  docs/docs/unsafe/functions/identity.md
  docs/docs/unsafe/functions/map.md
  docs/docs/unsafe/functions/mapip.md
  docs/docs/unsafe/functions/modulo.md
  docs/docs/unsafe/functions/multiply.md
  docs/docs/unsafe/functions/noop.md
  docs/docs/unsafe/functions/remainder.md
  docs/docs/unsafe/functions/subtract.md
  docs/docs/unsafe/modules.md
  docs/docusaurus.config.js
  docs/sidebars/safe-sidebar.js
  docs/sidebars/unsafe-sidebar.js
  docs/src/pages/index.js
Due: none

change user
  docs/docusaurus.config.js
Due: none

workflows
  .github/workflows/cd-docs.yml
Due: none

fix working dir
  .github/workflows/cd-docs.yml
Due: none

typescript
  docs/package.json
  docs/yarn.lock
Due: none

docs
  docs/docs/safe/functions/add.md
  docs/docs/safe/functions/divide.md
  docs/docs/safe/functions/identity.md
  docs/docs/safe/functions/map.md
  docs/docs/safe/functions/mapip.md
  docs/docs/safe/functions/modulo.md
  docs/docs/safe/functions/multiply.md
  docs/docs/safe/functions/noop.md
  docs/docs/safe/functions/remainder.md
  docs/docs/safe/functions/subtract.md
  docs/docs/unsafe/functions/add.md
  docs/docs/unsafe/functions/divide.md
  docs/docs/unsafe/functions/identity.md
  docs/docs/unsafe/functions/map.md
  docs/docs/unsafe/functions/mapip.md
  docs/docs/unsafe/functions/modulo.md
  docs/docs/unsafe/functions/multiply.md
  docs/docs/unsafe/functions/noop.md
  docs/docs/unsafe/functions/remainder.md
  docs/docs/unsafe/functions/subtract.md
  docs/docusaurus.config.js
Due: none

change
  docs/docusaurus.config.js
Due: none

action change
  .github/workflows/cd-docs.yml
Due: none

Add each, update bench
  src/safe/array/each.ts
  src/safe/array/index.ts
  src/unsafe/array/each.ts
  src/unsafe/array/index.ts
  src/unsafe/array/mapip.ts
  tests/benches/map.ts
  tests/util.ts
Due: eslint --fix, yarn test

Revert "action change"
  .github/workflows/cd-docs.yml
Due: none

Test update docs workflow
  .github/workflows/cd-docs.yml
  docs/docs/safe/functions/add.md
  docs/docs/safe/functions/divide.md
  docs/docs/safe/functions/each.md
  docs/docs/safe/functions/identity.md
  docs/docs/safe/functions/map.md
  docs/docs/safe/functions/mapip.md
  docs/docs/safe/functions/modulo.md
  docs/docs/safe/functions/multiply.md
  docs/docs/safe/functions/noop.md
  docs/docs/safe/functions/remainder.md
  docs/docs/safe/functions/subtract.md
  docs/docs/safe/modules.md
  docs/docs/unsafe/functions/add.md
  docs/docs/unsafe/functions/divide.md
  docs/docs/unsafe/functions/each.md
  docs/docs/unsafe/functions/identity.md
  docs/docs/unsafe/functions/map.md
  docs/docs/unsafe/functions/mapip.md
  docs/docs/unsafe/functions/modulo.md
  docs/docs/unsafe/functions/multiply.md
  docs/docs/unsafe/functions/noop.md
  docs/docs/unsafe/functions/remainder.md
  docs/docs/unsafe/functions/subtract.md
  docs/docs/unsafe/modules.md
  docs/sidebars/safe-sidebar.js
  docs/sidebars/unsafe-sidebar.js
Due: none
